# dependencies
**/node_modules
**/.github
**/.husky

# production
**/build
**/dist
**/public

# styles files
*.css
styles/*.css
styles/*.scss
styles/*.sass
styles/*.less

# ignore all logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# ide
**/.vscode/*

# Ignore lock files
**/yarn.lock
**/package-lock.json
**/pnpm-lock.yaml

# ignore config files
**/tsconfig.json
**/tsconfig.node.json

# Others
**/.gitignore
**/index.html
**/LICENSE
**/package.json
**/README.md